 /* This is used for giving height to header*/

.header{
  height: 100px;
  
}

 /* This is used for giving color and margin and also z-index to header*/
.hPosAbsolute{
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  background: transparent !important;
  z-index: 9999;
}

 /* This is used for giving color and margin and also z-index to header*/
.hPosSticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: transparent !important;
  z-index: 9999;
}
 /* This is used for giving height to 2nd slider */
.slideCard2{
  min-height: auto;
}
 /* This is used for adjusting the side red slider on the park page*/
.indicatMainCon{
  display: flex;
  align-items: center;
  height: 80vh;
  position: sticky;
  top: 100px;
}

 /* This is used for giving width to slider and content of the slider on Park Page also Used for Adjusting its dynamics */
.indicatCon{
  width: 50px;
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 500px;
}

 /* This is used for adjusting the slider height and width on the park page*/
.indicat{
  width: 3px;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  border-radius: 10px;
  cursor: pointer !important;
  z-index: 9999;
  transition: 2s;
}
 /* This is used for changing the slider color on Park Page*/
.indicat.active{
  background-color: goldenrod;
  /* border: 1px solid rgb(192, 53, 64); */
}
.home{  
   /* This css code is  use for the height of the home Page */
  min-height: 100vh;
  background: rgba(255, 35, 35, 0.904) url("./images/zone.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  
    background-size: cover;
}
 /* This is used for  adjusting the background Image on the Home page*/
.homeBgCon{
  height: 100vh;
  /* height: 73vh; */
  background-image: url('./images/homeBg.png');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  overflow: hidden;
}
 /* This is used for background Color to the park page*/
.garden {
 
  /* background-image: url('./images/homeBg.jpg'); */
  background-image: url('./images/laco.PNG');
  min-height: 100vh;
 
  
}
 /* This is used for giving mix-blend-mode to the rainbow present on the Home Page*/
.homeRainBow{
  mix-blend-mode: screen;
  width: 100%;
  position: fixed;
  /* top: -145px;
  height: 120vh; */
  top: 0px;
  height: 100vh;
  /* height: 50vh; */
  overflow: hidden;
}
 /* This is used for the Clouds Present on the page*/
.homeCloudCon{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('./images/homeCloud.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 9999;
  /* height: 100px; */
  display: flex;
  justify-content: center;
  align-items: end;
}
/* for capsoul Shadow and animations */
.homeCloud{
  /* mix-blend-mode: normal; */
  /* width: 100%; */
  display:block;
  margin:20px auto 0px;
  height:300px;
  width:auto;
  animation: 3s infinite alternate floating;
}
.shadowCapsoul{
  height:2px;
  display:block;
  margin:15px auto;
  animation: 3s infinite alternate shadow;
}
@keyframes floating {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-10px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes shadow {
  0% {
    width: 180px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, .8);
  }

  50% {
    width: 150px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, .5);
  }

  100% {
    width: 180px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, .8);
  }
}
/* end for capsoul  */
/* for Header Logo we see on Different Pages */
.header-logo{
  padding: 5px 20px;
  border: 2px solid white;
  border-radius: 5px;
  color: white !important;
  font-size: 22px;
  font-weight: bold;
}
.fH{
  background: linear-gradient(white ,#CCDEEC) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.sH {
  background: linear-gradient(rgb(235, 219, 219), #F2E6F3) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
/* animation logo style */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 37px;
  --card-width: 100px;
}
/* design for garden and blueprint */
.aniLogo{
  background: #526e8d;
  /* on blurry background */
  background: #fff;
  /* on white background */
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  height: 37px;
  padding: 1px;
  position: relative;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.7em;
  color: rgb(88 199 250 / 100%);
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
}
.aniLogo.blueprintLogo{
  background: rgb(0, 52, 103);
}
.aniLogo:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.aniLogo:hover:before,
.card:hover:after {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.aniLogo::before {
  content: "";
  width: 104%;
  height: 110%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #fff, #5cdeff, #568bff, #8988ff, #c895ff, #fff, #ff93ff, #ffc5b6, #ffffbe, #fff);
  position: absolute;
  z-index: -1;
  /* top: -1%; */
  /* left: -2%; */
  animation: spin 20s linear infinite;
}
.aniLogo::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 5);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(30px);
  background-image: linear-gradient(var(--rotate), #fff, #ff1f1f, #ffffff, #910000, #cf0000, rgb(250, 82, 40), #f704e2, #ff3705ec, #e6166c, rgb(255, 255, 255));
  opacity: 1;
  transition: opacity .5s;
  animation: spin 20s linear infinite;
}
/* @keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
} */
.logoText{
  background-image: linear-gradient(var(--rotate), #fff, #ff1f1f, #ffffff, #910000, #cf0000, rgb(250, 82, 40), #f704e2, #ff3705ec, #e6166c, rgb(255, 255, 255));
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animation 20s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate-reverse;
}
/* @keyframes animation {
  from {
    background-position: -300px;
  }

  to {
    background-position: 300px;
  }
} */
/* design for Home logo */
.aniLogoHome {
 
  /* on blurry background */
  width: 100px;
  height: 0.2px;
  padding: 1px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.7em;
  color: rgb(88 199 250 / 100%);
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
}

.aniLogoHome:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}

.aniLogoHome:hover:before,
.aniLogoHome:hover:after {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}

.aniLogoHome::before {
  content: "";
  width: 104%;
  height: 110%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #fff, #ff1f1f, #ffffff, #000000, #cf0000, #fff, #000000, #ff3705ec, #ffffbe, #fff);
  position: absolute;
  z-index: -1;
  /* top: -1%; */
  /* left: -2%; */
  animation: spin 20s linear infinite;
}

.aniLogoHome::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 5);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(30px);
  background-image: linear-gradient(var(--rotate), #fff, #5cdeff, #568bff, #8988ff, #c895ff, #fff, #ff93ff, #ffc5b6, #ffffbe, #fff);
  opacity: 1;
  transition: opacity .5s;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

.logoTextHome {
  background-image: linear-gradient(var(--rotate), #fff, #ff1f1f, #ffffff, #910000, #cf0000, rgb(250, 82, 40), #f704e2, #ff3705ec, #e6166c, rgb(255, 255, 255));
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animation 20s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate-reverse;
}

@keyframes animation {
  from {
    background-position: -300px;
  }

  to {
    background-position: 300px;
  }
}
/* end for header */
/* .homeBar.nav-link {
  background: #526e8d;
  color: #847aff;
}
.homeBar.nav-link.active{
  background-color: #ff7483;
} */

 /* This was used for giving padding and border also color to the navbar icons but we updated the code*/
.nav-link{
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 5px;
  margin-right: 15px;
  font-size: 1em;
  padding: 0.1rem 0.5rem !important;
  font-weight: 500;
}

.SwiperDesktop.swiper {
  width: 100%;
  height: 100vh;
  /* height: auto; */
  /* height: 100%;
  overflow: scroll; */
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets{
  left: 10px !important;
  right: auto !important;
}
.swiper-pagination-bullet {
  background:red !important;
  height: 10vh !important;
  border-radius: 10px !important;
  width: 5px !important;
}
.SwiperDesktop > .swiper-wrapper > .swiper-slide{
  text-align: center;
  font-size: 18px;
  height: 100vh !important;
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slidCon{
  position: relative;
}
 /* Here you can adjust height and with of the image present on the Park Page*/
.sliderGirl{
  position: fixed;
  /* top: 10px; */
  /* z-index: 9999; */
  width: 40%;
  right: 0px;
  height: 90vh;
}
 /* This is used for giving height to each Slider also to the content*/
.customSlider{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* This is used for adjusting the each head present on the Park Page*/

.c1Head{
  font-size: 4rem;
  padding-bottom: 1.2rem;
  line-height: 3rem;
  letter-spacing: -.02em;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  
}
.Opacity10{
  opacity: 0.1;
}
.fw900{
  font-weight: 900;
}
.fw600{
  font-weight: 600;
}
/* This is used for where we use Special gradient from here you can change the Colors of gradient*/
.highlight{
  /* This is used for the Special Gradient that we use on the first slide of the Park Page*/
  background: linear-gradient(104deg, rgba(255, 130, 130, 0) .9%, rgba(218, 165, 32, 0) 2.4%, rgba(218, 165, 32, 0) 5.8%,rgba(143, 141, 31, 0) 93%,rgba(218, 165, 32, 0) 96%),
  linear-gradient(183deg, rgba(130, 255, 173, 0), rgba(0, 0, 0, 0) 7.9%, rgba(255, 251, 2, 0) 15%);
  -webkit-box-decoration-break: clone;
  margin: 0;
  border-radius: 7.5px;
  text-shadow: -12px 12px 9.8px rgb(255 130 130 / 70%),
  21px -18.1px 7.3px #fff,
  -18.1px -27.3px 30px #fff;
}
/* This is used for where we use the button on the Park page on each Slider*/
.weDidBtn{
   /* This is the Last Button that is used on the Park page From this you can change the Color og Button and Also Button Text */ 
  display: inline-block;
  color: rgb(0, 0, 0);
  background-color: rgb(235, 222, 49);
  border-radius: 9999px; 
  text-decoration: none !important;
}
.weDidBtn:hover{
   /* This is the Last Button Hover State that is used on the Park page  From this you can change the Color og Button and Also Button Text */ 
  background-color: rgba(192, 53, 64, 1);
  color: rgba(255, 255, 255, 1);
}
/* This is used adjusting the hover and not hover state of images present in the park page on 2nd Slider*/
.cardImgCon{
  /* height: 80px; */
  position: relative;
}
.cardImgNotHover{
  width: 100%;
  border-radius: 3px;
}
.cardImgHover{
  position: absolute;
  width: 100%;
  border-radius: 3px;
  display: none;
}
.cardImgCon:hover .cardImgHover{
  display: block;
}
.ImgCardH{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  line-height: 1rem;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}
/* This is used for giving border to the images present on the third slider*/
.gridImgCon{
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.ImgCardD{
  opacity: .5;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .7rem;
  /* font-family: pixelfont,Helvetica Neue,Helvetica,Arial,sans; */
  padding-top: 0.125rem;
  margin-bottom: 0 ;
}
.slid3P{
  color: rgba(38, 38, 38, 1);
  line-height: 1.25rem;
  font-size: .84rem;
  /* font-family: pixelfont,Helvetica Neue,Helvetica,Arial,sans; */
  white-space: pre-line;
}
.galCon{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* This is used for giving Color to the Card Present on the 3rd Slider*/
.galCard{
  padding-top: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  z-index: 50;
}
/* This is used for giving Color on Hover Present on the 3rd Slider*/
.galCard:hover{
  background-color: rgba(0, 0, 0);
  color: white;
}
.galHead{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  /* font-family: SB,MBP,Helvetica Neue,Helvetica,Arial,sans; */ 
}
.galDesc{
  font-size: .75rem;
  line-height: 1rem;
  /* font-family: pixelfont,Helvetica Neue,Helvetica,Arial,sans; */
  padding-bottom: 0.5rem;
}
/* This is used for giving background image on the Blue Print Page on the park shape Grid*/
.thePark{
  position: absolute;
  z-index: 10;
  display: flex;
  width: 22vw;
  height: 22vw;
  max-height: 45vh;
  max-width: 45vh;
  justify-content: center;
  align-items: center;
  border: 3px solid #7eaeff;
  border-radius: 50%;
  background-color: #003668;
  background-image: url('./images/bPPark.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
/* This is used for giving Button Colors to the Blue Print page present on the Button*/
.theParkBtn,.bearMarketeBtn{
  background-color: rgb(107, 155, 240);
  color: rgb(0, 52, 103);
  position: absolute;
  padding: 0.2rem 0.625rem;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.145rem;
  text-transform: uppercase;
}
.parkHover{
   /* In this you can change Park Hover Image */
  opacity: 0;
  display: none;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/hoverPark.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(200%);
}
.thePark:hover{
  border-color: rgb(255,255,255);
}
.thePark:hover > .theParkBtn ,.sidePark:hover > .bearMarketeBtn , .centerDiv:hover > .bearMarketeBtn{
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
}
.thePark:hover > .parkHover, .sidePark:hover > .sideParkHover, .centerDiv:hover > .centerDivHover{
  display: block;
  opacity: 1;
}
.MapMap{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
 /* In this where you can change he color of the Side bars Grid Borders  */
.sidePark{
  border-color: rgb(126, 174, 255);
  width: 100%;
   height: 100%;

  border-style: solid;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid rgb(126, 174, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
 /* In this where you can adjust the opacity of the sidebar hover */
.sidePark:hover{
  opacity: 1;
  filter: brightness(200%);
}
.sideParkHover{
  display: block;
  opacity: 0;
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  /* height: 100%; */
  height: 40vw;
  max-height: 80vh;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(200%);
}
.bearMarkete{
  /* This Image is linked for the side blueprint map shape  */
  background-image: url('./images/bPBearMarkete.png');
}
.bearMarketeHover{
  /* This Image is linked for the side blueprint map shape for the hover state  */
  background-image: url('./images/BearMarketeHover.png');
}
.platForm{
   /* In this you can link Platform Image  */
  background-image: url('./images/bPPlatform.png');
}
.platFormHover{
  background-image: url('./images/platFormHover.png');
}
/* In this where you can adjust the center Grid present on the BluePrint Page */
.centerDiv{
  border: 3px solid rgb(126, 174, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgb(126, 174, 255);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  /* height: 100%; */
  height: 20vw;
  max-height: 38vh;
}
.centerDiv:hover{
  opacity: 1;
  filter: brightness(200%);
}
.centerDivHover {
  opacity: 0;
  display: block;
  position: relative;
  z-index: 0;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(200%);
  width: 100%;
  /* height: 100%; */
  height: 20vw;
  max-height: 38vh;
}

/* These Images are Used for giving the Images to the Grid Present on the Center of the BlurPrint Page */
.workShop{
   /* height: 100%; */
  background-image: url('./images/bPWorkShop.png');
}
.gallery{
  background-image: url('./images/bPGallery.png');
}
.studio{
  background-image: url('./images/bPStudio.png');
}
.boutique{
  background-image: url('./images/bPBoutique.png');
}
.Opacity0{
  opacity: 0;
}
.Opacity1{
  opacity: 1;
}
.parkModel{
  display: block;
  position: absolute;
  top: 0;
  z-index: 10000;
  width: 100%;
  height: 40vw;
  border-top: 6px solid #fff;
  border-bottom: 6px solid #fff;
  background-color: rgba(0, 54, 104, 0.95);
}
.modelHeader{
  height: 3.5rem;
  border-bottom: 1px solid #fff;
}
.modelTitleText{
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.145rem;
  text-transform: uppercase;
}
.firstHeading{
  position: relative;
  z-index: 1;
  color: #bb9772;
  font-size: 1.25rem;
  line-height: 140%;
}
.firstHeading.okb-bp {
  color: #fff;
}
.greenTitle{
  color: #19ab6e;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.145rem;
  text-transform: uppercase;
}
.greenTitle.makeYellow{
  color: #f7c64c;
}
.greenTitle.makeBlue{
  color: #6ccef5;
}
.futureNFT{
  background-image: linear-gradient(90deg, #f7c64c, #f3eadb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.145rem;
  text-transform: uppercase;
}
.blueprintPage{
  padding-top: 0px;
}
.okb-bp-progress{
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 auto;
  border-radius: 3px;
}
.heading8{        /* This heading8 is used for the BluePrint Page First Heading*/
  color: #7eaeff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Outfit,
  sans-serif;
  /* color: #bb9772; */
  font-size: 1.5rem;
  line-height: 110%;
  font-weight: 500;
  letter-spacing: 0.145rem;
  text-transform: uppercase;
}
.h2Heading{  /* This h2Heading is used for the BluePrint Page Second Heading*/
  /* margin-bottom: 0px; */
  color: #7eaeff;
  margin-top: 0px;
  margin-bottom: 35px;
  font-family: 'Cheddargothic sans',
  Impact,
  sans-serif;
  /* color: #402d28; */
  font-size: 4rem;
  line-height: 110%;
  font-weight: 500;
}
.blueprintBottomText{
  color: #7eaeff;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 300;
}
.blueprintBottomSMText{
  font-size: 0.975rem;
  line-height: 125%;
  text-align: left;
  color: goldenrod;
}
.okb-bp-contenttext{
  margin-top: 10px;
  color: #fff;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 300;
}
.manifestBtnCon{
  display: inline-block;
  margin-bottom: auto;
  background-color: #7eaeff;
  margin-top: 40px;
  padding: 0.2rem 0.625rem;
  border-radius: 3px;
  color: #7eaeff;
  max-width: 100%;
  text-decoration: none;
  cursor: pointer;
}
.okb-buttontext{
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.145rem;
  text-transform: uppercase;
}
.okb-buttontext.bp{
  color: #003467;
}
.bp{
  margin-bottom: 0px;
}
.meetTeamBtnCon{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: auto;
  border: 1px solid #7eaeff;
  background-color: #003467;
  padding: 0.2rem 0.625rem;
  border-radius: 3px;
  max-width: 100%;
  color: #7eaeff;
  text-decoration: none;
  cursor: pointer;
}
.modelBackBtn{
  display: flex;
  padding: 0.2rem 0.625rem;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}
.modelCloseBtnText{
  color: #003668;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.145rem;
  text-transform: uppercase;
}
.modelCloseBtnCon{
  display: flex;
  width: 18px;
  height: 18px;
  margin-left: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #003668;
}
.modelCloseBtnImg{
  width: 8px;
  height: 8px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.innerModel{
  height: 88%;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* for mobil view */
.swiper-thumbs{
  height: 100px;
}
.swiper-slide-thumb-active{
  width: 20% !important;
}
.swipatbottom{
  
/* for mobil view  here you can change the middle div Color*/
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  /* background-color: red; */
  background-color: rgba(229, 229, 229, 1);
  padding: 5px 10px;
}
.swipatbottom>.swiper>.swiper-wrapper{
  display: flex;
  justify-content: space-between;
}
.swipatbottom>.swiper>.swiper-wrapper>.swiper-slide{
  width: 30% !important;
  margin-right: 0 !important;
}
.swipatbottom > .swiper > .swiper-wrapper > .swiper-slide > img,
.swipatbottom>.swiper>.swiper-wrapper>.swiper-slide>div{
  width:100%;
}
 /* This is used for the Mobile Slider Buttons  */
.bottomSlidDiv{
  background-color:rgba(255, 255, 255,1);
  box-shadow:  0 0 transparent,0 0 transparent,0 1px 3px 0 rgba(0, 0, 0, 0.1),
  0 1px 2px 0 rgba(0, 0, 0, 0.06);
  color:rgba(0, 0, 0);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 50;
  height: 100%;
}
 /* This is used for the Mobile Slider Present on Mobile View Where you can change Color of Slider icons  */
.swiper-slide-thumb-active > .bottomSlidDiv{
  background-color: goldenrod;
  color: rgba(255, 255, 255, 1);
}
.Ctitle{
  opacity: .4;
  font-size: .65rem;
  /* font-family: pixelfont,Helvetica Neue,Helvetica,Arial,sans; */
}
.Cdesc{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .95rem;
  color:#000000;
  /* font-family: SB,MBP,Helvetica Neue,Helvetica,Arial,sans; */
}
/* end for mobil view */
.mapContainer{
  position: relative;
  width: 40vw;
  height: 80vh;
}
.part2MapMobile {
  position: absolute;
  top: 60vh;
}
.mapContainerMobile{
  height: 110vh;
}
.bluePrintScreen>.navbar-collapse>.navbar-nav>.nav-link {
  color: #007bff;
}
.footerDiv{
  position: absolute;
  /* position: sticky; */
  bottom: 5px;
  z-index: 99999;
}
.footerDiv.slid3{
  bottom: -125px;
}

@media (max-width: 2880px) {



}


@media (max-width:600px) {
  .home{
   
    height: 100%;
    background: rgba(255, 35, 35, 0.904) url("./images/zone.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
      overflow: hidden;
      background-size: cover;
  }
  .homeBgCon,.homeRainBow{
    height: 87vh;
  }
  .homeRainBow {
    /* left: 10px; */
    /* top: -160px;
      height: 135vh; */
    /* height: auto; */
    width: 100%;
  }
  /* .homeRainBow {
    height: 100%;
  } */
  .header {
    height: auto;
  }
  .sidePark{
    height: 50vh;
  }
  .parkModel{
    height: 196vw;
  }
  .slideCard2 {
    min-height: 100vh;
  }
  .h2Heading{
    font-size: 3rem;
  }
  .parkModel > .modelHeader > .modelTitleCon,.modelBackBtnCon{
    width: 50%;
  }
  .blueprintPage {
    padding-top: 0px;
  }
  .modelHeader{
    height: auto;
  }
  .mapContainer{
    height: 60vh;
  }
  .centerDiv{
    height: 28vh;
    max-height: 48vh;
    position: relative;
  }
  .bearMarketeBtn.workShopBtn{
    position: absolute;
    top: 0;
    left:0;
  }
  .bearMarketeBtn.glleryBtn {
    position: absolute;
    top: 0;
    right: 0;
  }
  .bearMarketeBtn.studioBtn {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .bearMarketeBtn.boutiqueBtn {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .thePark{
    width: 60vw;
    height: 60vw;
    max-height: 70vh;
  }
  .navbar-nav{
    margin-top: 20px;
  }
  .nav-link{
    margin-right: 0px;
  }
  .c1Head {
    font-size: 4rem;
  }
  .sliderGirl{
    height: 40vh;
    bottom: 0px;
  }
  
  .homeCloud{
    width: 65%;
    height: 75%;
  }
}

@media (max-width: 414px){
  .parkModel {
    height: 239vw;
  }
} 




 /* From Here you can see Each Page Header where we can Update the colors also the Hover effect on the buttons and also I changed the Class Names where you can see easily where the navbar belongs too   */


.home_page_navbar_home_icon{
  margin-right: 7.5px;
  margin-left: 7.5px;
  padding: 0.2rem 0.625rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
 border: 2px solid;
  border-radius: 2px;
  border-color: #ffd30d;
  background-color: transparent;
  -webkit-transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);
  transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);
  color: #ffffff !important;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: 0.145rem;
  text-decoration: none;
  text-transform: uppercase;
}



.home_page_navbar_other_icons {
  margin-right: 7.5px;
  margin-left: 7.5px;
  padding: 0.2rem 0.625rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 2px solid;
  border: none;
  border-radius: 3px;

  background-color:  #ffd30d;
  -webkit-transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);
  transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);
  color: #000000 !important;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: 0.145rem;
  text-decoration: none;
  text-transform: uppercase;
}
.home_page_navbar_other_icons:hover {
  
  background-color:  #d2dd38  ;
 
  color: rgb(0, 0, 0);
  
}

.home_page_navbar_garden_icons{

  background-color: #d10000;
    opacity: 0.35;
    color: #bb9772;
    cursor: not-allowed;
  margin-right: 7.5px;
  margin-left: 7.5px;
  padding: 0.2rem 0.625rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 3px;
 
  border-style: solid;
    border-width: 1px;
    border-color: #bb9772;
   
    color: #bb9772;
  -webkit-transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);
  transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);

  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: 0.145rem;
  text-decoration: none;
  text-transform: uppercase;

}


.park_page_navbar_other_icon {
  margin-right: 7.5px;
  margin-left: 7.5px;
  padding: 0.2rem 0.625rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: none;
  border-radius: 3px;
  background-color: #f3eadb;
  -webkit-transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);
  transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);
  color: #bb9772;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: 0.145rem;
  text-decoration: none;
  text-transform: uppercase;
}


.park_page_navbar_other_icon:hover {
  
  background-color: #f0f0f0;
 
  color: #45e4af;
  
}


.park_page_navbar_garden_icon{

  background-color: #f3eadb;
    opacity: 0.35;
    color: #bb9772;
    cursor: not-allowed;
  margin-right: 7.5px;
  margin-left: 7.5px;
  padding: 0.2rem 0.625rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 3px;
  background-color: #f3eadb;
  border-style: solid;
    border-width: 1px;
    border-color: #bb9772;
    background-color: #fff9f0;
    color: #bb9772;
  -webkit-transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);
  transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);

  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: 0.145rem;
  text-decoration: none;
  text-transform: uppercase;

}
.park_page_navbar_park_icon{
  margin-right: 7.5px;
  margin-left: 7.5px;
  padding: 0.2rem 0.625rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 3px;
  background-color: #f3eadb;
  border-style: solid;
    border-width: 1px;
    border-color: #bb9772;
    background-color: #fff9f0;
    color: #bb9772;
  -webkit-transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);
  transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);

  font-size: 1rem;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: 0.145rem;
  text-decoration: none;
  text-transform: uppercase;
}




.blue_print_page_navbar_other_icons {
  margin-right: 7.5px;
  margin-left: 7.5px;
  padding: 0.2rem 0.625rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 3px;
  background-color: #0d2a57;
  -webkit-transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);
  transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);
  color: #7eaeff;
  font-size: 1rem;
  border: none;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: 0.145rem;
  text-decoration: none;
  text-transform: uppercase;
}

.blue_print_page_navbar_other_icons:hover {
  
  background-color:  #7eaeff  ;
 
  color: rgb(0, 0, 0);
  
}
.blue_print_page_navbar_blueprint_icon {
  margin-right: 7.5px;
  margin-left: 7.5px;
  padding: 0.2rem 0.625rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 3px;
  background-color: #0d2a57;
  -webkit-transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);
  transition: background-color 200ms cubic-bezier(.215, .61, .355, 1);
  color: #7eaeff;
  border-color: #7eaeff;
  font-size: 1rem;

  line-height: 140%;
  font-weight: 500;
  letter-spacing: 0.145rem;
  text-decoration: none;
  text-transform: uppercase;
}









.figure {
	position: relative;
	width: 360px; /* can be omitted for a regular non-lazy image */
	max-width: 100%;
	
}
.figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}
.figure:hover img.image-hover {
  opacity: 1;
}

/* 
 * Position both images in same place
*/
.hover-switch > img {
	position: absolute;
	top: calc(10% - 100px);
	left: calc(30% - 100px);
  }

  .image-main{
    width: 100%;
    
  
  }
  .image-hover{
    width: 100%;
    
    
    
  }

  /* 
   * Show the last image by default
  */
  .hover-switch > img:last-of-type {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
  }
  /* 
   * Hide the last image on hover
  */
  .hover-switch:hover > img:last-of-type {
	opacity: 0;
  }
  

  .information_bg{
    height: 100%;
    background-image: url('./images/samura.jpg');
    background-repeat: no-repeat;
    background-position: center;

      background-size: cover;
  }

  .bTag {
    font-family: Open Sans, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    /* background-color: #B8BCC0; */
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
  
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  
  }
  
  .pageCon {
    background-color: #000 !important;
    background-image: linear-gradient(180deg, #4343 0%, #000000c2 100%) !important;
  
    /* min-height: 2013.5px; */
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  
    overflow: hidden;
  
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .mainContent {
    background-image: url('../src/images/warb.jpg') !important;
    overflow-x: hidden;
    background-size: cover !important;
    background-position: top !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    z-index: 1111;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }


  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    color: azure;
    background-color: goldenrod;
}

.sections {
  display: flex;
  justify-content: center;
}
.bg-imagew{
  background: rgba(255, 35, 35, 0.904) url("./images/Cap.PNG");
 background-blend-mode: darken;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; 
  background-size: cover; 
  border-radius: 50px;
  height: 100vh;
  
}


.firstLayer {
  width: 80%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.mHeadx{
  justify-content: center;
  text-align: center;
  color: rgb(235, 235, 235);

line-height: 30px;
  font-size: 0.6rem;
  font-weight: 900;
  

}

@media screen and (min-width:1200px) {
  .mHeadx{
 
    font-size: 1rem;
    line-height: 50px;
  
  
  }
}

.mHead{
  justify-content: center;
  text-align: center;
  color:goldenrod;

line-height: 50px;
  font-size: 3rem;
  font-weight: 900;
  

}

@media screen and (min-width:800px) {
  .mHead{
 
    font-size: 6rem;
    line-height: 90px;
  
  
  }
}

img.F1Log {
  margin-top: 10px;
  width: 12%;
  margin-right: 5%;
  margin-left: 5%;
}
img.F2Log {
  /* height: 50px; */
  width: 12%;
  margin-right: 5%;
  margin-left: 5%;
}
img.F3Log {
  height: 100%;
  width: 12%;
  width:auto;
}
.footer{
  background-color: #ffd900;
  min-height: 60px;display: flex;
  align-items: center;
}
.footerInfo {
  text-align: left;
  color: #666;
}
.fContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinCom{
  /* font-size: 34px; */

  font-weight: 700;
  text-transform: uppercase;
  font-size: 44px;
  letter-spacing: 1px;
  line-height: 1.3em;
}






.as{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none !important;
  color: rgb(58, 232, 255);
  border: 2px solid goldenrod;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.as span{
  position: relative;
  z-index: 2;
}

.as:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: goldenrod;
  transition: all .35s;
}

.as:hover{
  color: #fff;
}

.as:hover:after{
  width: 100%;
}